# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/ruby:2.6.3
        environment:
          PGHOST: 127.0.0.1
          DATABASE_URL: postgres://freefrom-compensation-api-user@127.0.0.1/freefrom-compensation-api_test
      - image: circleci/postgres:11.4 # database image
        environment: # environment variables for database
          POSTGRES_DB: freefrom-compensation-api_test
          POSTGRES_USER: freefrom-compensation-api-user

    working_directory: ~/freefrom-compensation-api

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            gem install bundler
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: lint code
          command: bundle exec rubocop --cache false

      # Database setup
      - run: bundle exec rake db:schema:load

      # run tests!
      - run:
          name: run tests
          command: bundle exec rspec

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
    branches:
      ignore:
  lint:
    steps:
      - run: bundle exec rubocop
    branches:
      ignore: